<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3">Rails 6 Template - Jusondac 🚀🚀🚀</h1>
    <div class="m-3">
    <p class="">Quick Template by Jusondac for Ruby On Rails Application</p>
    <h2>Features</h2>
      <span>
        <ul>
          Gemfile
          <ul>
            <li>Devise (Authentication)</li>
            <li>Cancancan (Authorization)</li>
            <li>awesome_prin</li>
          </ul>
          Front-end
          <ul>
            <li>Bootstrap</li>
            <li>Structured Stylesheets</li>
          </ul>
          Authentication
          <ul>
            <li>Setting up role at Registration (Create model role that contain name column as String) </li>
            <li>Flash Alert Customization With Bootstrap</li>
            <li>Structured Folder Component ("Shared" folder are exist)</li>
          </ul>
        </ul>
      </span>
    </div>
  </div>
</div>
